@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark theme */
:root {
    --background-color: #333;
    --text-color: #fff;
  }
  
  /* Light theme */
  :root.light {
    --background-color: #fff;
    --text-color: #333;
  }
  body{
    font-family: 'Lunasima', sans-serif;
  }
  /* Define a media query for screens between 360px and 420px */
@media screen and (max-width: 420px) and (min-width: 360px) {
  /* Select the slick arrow buttons by class name and hide them */
  .slick-arrow,
  .slick-next {
    display: none;
  }
}
